/********** Template CSS **********/
:root {
    --primary: #06cc37;
    --light: #bedee0;
    --dark: #181d38;
}

.fw-medium {
    font-weight: 600 !important;
}

.fw-semi-bold {
    font-weight: 700 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

/*******Dropdown Arrow***/
.dropdown-arrow::after {
    content: "\25BC"; /* Unicode for downward-pointing triangle */
    margin-left: 5px;
    font-size: 40px; /* Adjust the size of the arrow as needed */
}

.menu-text {
    display: inline-block;
    padding: 4px 0 4px 0;
}
/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 0px;
}
/* Header start */
#mu-header {
    background-color: #a1a1a1;
    display: inline;
    
    width: 100%;
}
#mu-header .mu-header-area {
    display: inline;
    float: left;
    padding: 10px 0;
    width: 100%;
}
#mu-header .mu-header-area .mu-header-top-left {
    display: inline;
    float: left;
    width: 100%;
}
#mu-header .mu-header-area .mu-header-top-left .mu-top-email {
    display: inline;
    float: left;
    font-size: 14px;
}
#mu-header .mu-header-area .mu-header-top-left .mu-top-email i {
    margin-right: 5px;
}
#mu-header .mu-header-area .mu-header-top-left .mu-top-phone {
    border-left: 1px solid #bbbbbb;
    display: inline;
    font-size: 14px;
    float: left;
    margin-left: 15px;
    padding-left: 15px;
}
#mu-header .mu-header-area .mu-header-top-left .mu-top-phone i {
    margin-right: 5px;
}
#mu-header .mu-header-area .mu-header-top-right {
    display: inline;
    float: left;
    text-align: right;
    width: 100%;
}
#mu-header .mu-header-area .mu-header-top-right .mu-top-social-nav {
    display: inline-block;
}
#mu-header .mu-header-area .mu-header-top-right .mu-top-social-nav li {
    display: inline-block;
}
#mu-header .mu-header-area .mu-header-top-right .mu-top-social-nav li a {
    display: inline-block;
    font-size: 14px;
    padding: 0 8px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
/* Header End */

/*** Navbar ***/
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #999999;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #b8b8b8;
    }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
    height: 75px;
}
#favicon-nav{
    height: 50px;
    width: 50px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

.navbar-light.sticky-top {
    top: -100px;
    transition: .5s;
}
@media (max-width: 768px) {
    .dropdown-menu {
        padding-top: 20px;
        display: none;
    }
    .dropdown-menu.show {
        display: block;
    }
}

/* @media (max-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
        margin-top: 0;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }
    .navbar .nav-item

    .navbar .dropdown-menu.fade-down {
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
   
} */




/*** Header carousel ***/
@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }
    
    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .header-carousel .owl-nav .owl-prev,
    .header-carousel .owl-nav .owl-next{
        display: none;
    }
    
}


.header-carousel .owl-nav .owl-prev{
    position: absolute;
    top: 35%;
    left: 2%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    margin: 7px 0;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    font-size: 22px;
    transition: .5s;
}
.header-carousel .owl-nav .owl-next {
    position: absolute;
    top: 35%;
    right: 2%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    margin: 7px 0;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    font-size: 22px;
    transition: .5s;
}

@media screen and (max-width: 797px) {
    .header-carousel .owl-nav .owl-prev,
    .header-carousel .owl-nav .owl-next {
        display: none;
    } 
    #nav-error{
        width: 70%;
    }
    #favicon-nav{
        font-size: 15px;
        height: 40px;
        width: 40px;
    }
}
@media screen and (max-width: 480px) {
    #favicon-nav{
        font-size: 12px;
        height: 30px;
        width: 30px;
    }
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.page-header {
    background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(../assets/img/slider/steadmak_home.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header-inner {
    background: rgba(15, 23, 43, .7);
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}
/*** about***/




/*** about ***/


/*** Section Title ***/
.section-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}

.section-title::before {
    position: absolute;
    content: "";
    width: calc(100% + 80px);
    height: 2px;
    top: 4px;
    left: -40px;
    background: var(--primary);
    z-index: -1;
}

.section-title::after {
    position: absolute;
    content: "";
    width: calc(100% + 120px);
    height: 2px;
    bottom: 5px;
    left: -60px;
    background: var(--primary);
    z-index: -1;
}

.section-title.text-start::before {
    width: calc(100% + 40px);
    left: 0;
}

.section-title.text-start::after {
    width: calc(100% + 60px);
    left: 0;
}


/*** Service ***/
.service-item {
    background: var(--light);
    transition: .5s;
}

.service-item:hover {
    margin-top: -10px;
    background: var(--primary);
}

.service-item * {
    transition: .5s;
}

.service-item:hover * {
    color: var(--light) !important;
}


/*** Categories & Courses ***/
.category img,
.course-item img {
    transition: .5s;
}

.category a:hover img,
.course-item:hover img {
    transform: scale(1.1);
}

/*** ADMISSIONS ***/

        
/* .application-form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.application-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.application-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.application-form input[type="text"],
.application-form input[type="email"],
.application-form input[type="tel"],
.application-form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.application-form label.checkbox-label {
    display: inline-block;
    margin-right: 10px;
}

.application-form select {
    height: 35px;
}

.application-form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.application-form input[type="submit"]:hover {
    background-color: #0056b3;
} */

/*** ###############################DEPARTMENT ELECTRICALS***/


/* Style for each course section */
/*** Department details ***/
.departments-container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center; /* Adjust the height if needed */
}
.departments-container {
    padding: 40px;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between; 
}


.department-details {
    width: 600px; /* Adjust the width as needed */
    height: auto;
    border: 1px solid #ccc;
    padding: 50px;
    margin-left: 1%; /* Adjust margins as needed */
    box-sizing: border-box; /* Include padding and border in the total width */
}
.course-section {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 50px;   
}
.course-section h3 {
    text-decoration: underline;
}

/* Apply button style */
.apply-button {
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding: 8px 16px;
    transition: background-color 0.3s;
}

.apply-button:hover {
    background-color: #0056b3;
}

/*** ###############################DEPARTMENT ELECTRICALS***/

.application-form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.application-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.application-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.application-form input[type="text"],
.application-form input[type="email"],
.application-form input[type="tel"],
.application-form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.application-form label.radio-label {
    display: block;
    margin-bottom: 10px;
}

.application-form input[type="radio"] {
    margin-right: 5px;
}

.application-form select {
    height: 40px;
}

.application-form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.application-form input[type="submit"]:hover {
    background-color: #0056b3;
}



/*** Team ***/
.team-item img {
    transition: .5s;
}

.team-item:hover img {
    transform: scale(1.1);
}


/*** Testimonial ***/
.testimonial-carousel::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

.testimonial-carousel::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

@media (min-width: 768px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 200px;
    }
}

@media (min-width: 992px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 300px;
    }
}

.testimonial-carousel .owl-item .testimonial-text,
.testimonial-carousel .owl-item.center .testimonial-text * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text {
    background: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-text * {
    color: #FFFFFF !important;
}

.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 1px solid #CCCCCC;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--primary);
    border-color: var(--primary);
}


/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    font-weight: normal;
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}


/* ################ GALERY ################ */
#mu-gallery {
    background-color: white;
    display: inline;
    float: left;
    padding: 100px 0;
    width: 100%;
  }
  #mu-gallery .mu-gallery-area {
    display: inline;
    float: left;
    width: 100%;
  }
  #mu-gallery .mu-gallery-area .mu-gallery-content {
    display: inline;
    float: left;
    width: 100%;
  }
  #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-top {
    background-color: rgb(60, 12, 190);
    display: inline;
    float: left;
    margin-top: 10px;
    padding: 20px 0;
    width: 100%;
  }
  #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-top ul {
    display: inline-block;
    text-align: center;
    width: 100%;
  }
  #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-top ul li {
    color: #f6f7f2;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin: 0 5px;
    padding: 6px 15px;
    text-transform: uppercase;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-top ul li:hover, #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-top ul li:focus {
    background-color: #0facd3;
  }
  #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-top ul .active {
    background-color: #13a2db;
  }
  #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body {
    display: inline;
    float: left;
    width: 100%;
    margin-top: 50px;
  }
  #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body ul li .mu-single-gallery {
    display: inline;
    float: left;
    margin-bottom: 30px;
    width: 100%;
  }
  #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body ul li .mu-single-gallery .mu-single-gallery-item {
    display: inline;
    float: left;
    width: 100%;
    position: relative;
  }
  #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body ul li .mu-single-gallery .mu-single-gallery-item:hover .mu-single-gallery-img img {
    transform: scale(1.3);
  }
  #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body ul li .mu-single-gallery .mu-single-gallery-item:hover .mu-single-gallery-info {
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 1;
    transform: scale(1);
  }
  #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body ul li .mu-single-gallery .mu-single-gallery-item:hover .mu-single-gallery-info .mu-single-gallery-info-inner {
    transform: scale(1);
  }
  #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body ul li .mu-single-gallery .mu-single-gallery-item .mu-single-gallery-img {
    display: inline;
    float: left;
    height: 220px;
    overflow: hidden;
    width: 100%;
  }
  #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body ul li .mu-single-gallery .mu-single-gallery-item .mu-single-gallery-img img {
    width: 100%;
    height: 100%;
    transform: scale(1);
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
  }
  #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body ul li .mu-single-gallery .mu-single-gallery-item .mu-single-gallery-info {
    background-color: rgba(0, 0, 0, 0.2);
    bottom: 0;
    height: 100%;
    left: 0;
    opacity: 0;
    padding-top: 70px;
    position: absolute;
    right: 0;
    text-align: left;
    top: 0;
    transform: scale(1);
    width: 100%;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
  }
  #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body ul li .mu-single-gallery .mu-single-gallery-item .mu-single-gallery-info .mu-single-gallery-info-inner {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    transform: scale(0);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body ul li .mu-single-gallery .mu-single-gallery-item .mu-single-gallery-info .mu-single-gallery-info-inner h4 {
    color: #fff;
    font-size: 20px;
    line-height: 1.3;
    margin-bottom: 0;
    text-transform: uppercase;
  }
  #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body ul li .mu-single-gallery .mu-single-gallery-item .mu-single-gallery-info .mu-single-gallery-info-inner p {
    color: #fff;
    font-size: 14px;
    margin-bottom: 20px;
  }
  #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body ul li .mu-single-gallery .mu-single-gallery-item .mu-single-gallery-info .mu-single-gallery-info-inner a {
    color: #fff;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    margin-right: 10px;
    text-align: center;
    width: 40px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  #mu-gallery .mu-gallery-area #mixit-container .mix {
    display: none;
  }
  @media (max-width: 767px) {
    #mu-gallery {
        padding: 50px 0;
      }
      #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body ul li .mu-single-gallery .mu-single-gallery-item .mu-single-gallery-img {
        height: 320px;
      }
    
  }
  @media (max-width: 640px) {
    #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-top ul li {
        padding: 5px 10px;
        margin-bottom: 5px;
      }
  }
  @media (max-width: 480px) {
    #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body ul li .mu-single-gallery .mu-single-gallery-item .mu-single-gallery-img {
        height: 280px;
      }
    
      #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-top ul li {
        margin-bottom: 10px;
      }
      #favicon-nav{
        font-size: 15px;
        height: 30px;
        width: 30px;
      }
  }
  @media (max-width: 360px) {
    #mu-gallery .mu-gallery-area .mu-gallery-content .mu-gallery-body ul li .mu-single-gallery .mu-single-gallery-item .mu-single-gallery-img {
        height: 220px;
      }
      #favicon-nav{
        font-size: 15px;
        height: 30px;
        width: 30px;
      }
  }